
/********项目**css动画********/
section li {
    transition: all 0.2s linear;
}

section li:hover {
    transform: translate3d(0, -2px, 0);
    z-index: 2;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

#movies ul li:hover {
    transform: rotateY(180deg);
}

#movies ul li {
    transition: all 0.6s ease 0s;
}

/****  头部top*****/
header {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #333;
}

#top {
    width: 1230px;
    margin: 0 auto;
}
#top a, p {
    color: #B0B0B0;
    font-size: 12px;
}

#top a:hover {
    color: #fff;
}

/*左边*/
#top_lt li {
    float: left;
    color: #fff;
}

#top b {
    font-size: 12px;
    font-weight: 200;
    color: #424242;
    padding: 0 6px;
}

/*右边*/

#top_rt > span {
    display: inline-block;
    width: 120px;
    height: 40px;
    margin-left: 20px;
    background: #424242;
}
#top_rt span div {
    font-size: 17px;
    color: #ccc;
    padding: 0 5px 0 15px;
}


/*******topNav部分********/
#topNav {
    width: 1230px;
    margin: 19px auto;
    height: 56px;
}

nav {

    line-height: 56px;
    position: relative;
}

#nav > ul {
    display: inline-block;
    margin-left: 170px;
}
#nav ul li {
    float: left;
    padding-left: 17px;
    font-size: 16px;
}

    /****搜索框***/
#search {
    width: 296px;
    height: 51px;
    line-height: 50px;
    position: relative;
    border: 1px solid #E0E0E0;
}
.search_nav {
    font-size: 12px;
    color: #757575;
    background: #EEE;
}

#search:hover {
    border: 1px solid #B0B0B0
}

#search input:active #search {
    border: 1px solid red;
}

#search input {
    font-size: 20px;
    border: none;
    width: 240px;
    height: 50px;
}

#search .button {
    text-align: center;
    width: 53px;
    height: 52px;
    line-height: 52px;
    font-size: 20px;
    border-left: 1px solid #ccc;
    position: absolute;
    left: 243px;
    top: 0px;
    transition: all 1s;
}

#search .button:hover {
    background-color: orangered;
    color: #F5F5F5;
}

#search > div.search_nav {
    position: absolute;
    top: 0;
    right: 70px;
}


    /****搜索框下拉菜单***/
#search > .search_box {
    width: 243px;
    border: 1px solid #FF6700;
    position: absolute;
    top: 51px;
    right: 52px;
    display: none;
    background: #fff;
}

#search:hover .search_box {
    display: block;
}




/*********导航弹出框***********/
#nav_product ul {
    /*width: 100%;*/
    height: 230px;
    border: 1px solid #D8D8D8;
    display: none;
}


/***banner***/
#banner {
    width: 1230px;
    position: relative;
    margin: 0 auto;
}

#banner #slider {
    height: 460px;
}

#banner:before {
    content: "";
    display: block;
    clear: both;
    position: relative;
}

/**左边category种类（类别） */
#category {
    height: 460px;
    width: 235px;
    background: #666666;
    position: absolute;
    top: 4px;
}

#category ul {
    margin-top: 17px;
}

#category ul li {
    padding: 12px 25px;
    cursor: pointer;
}

#category ul li:hover {
    background: #FF6F0F;
}

#category ul li a {
    color: #fff;
}

#category ul li b {
    width: 7px;
    height: 13px;
    display: inline-block;
    background: url(images/background.png) no-repeat 0 -53px;
    float: right;
}

#banner #category_nav {
    display: none;
    position: absolute;
    top: 0px;
    left: 235px;
    height: 460px;
    width: 991px;
    background-color: white;
}

#banner #category_nav ul li {
    height: 76.6px;
}

#banner #category_nav ul li a{
    line-height: 76.6px;
    box-sizing: border-box;
    padding-left: 30px;
    display: inline-block;
    width: 24%;
}

#banner #category_nav ul li a img{
    vertical-align: middle;
}
/***********banner底部************/

#banner_btm {
    padding-top: 15px;
}

#banner_btm ul {
    width: 233px;
    height: 170px;
    border: 1px solid #948F8A;
    background: #5F5750;
    margin: 5px 5px 5px 0;
}

#banner_btm ul li {
    width: 70px;
    height: 82px;
    padding: 0 3px;
    float: left;
}

#banner_btm ul li a {
    display: block;
    padding-top: 18px;
    color: #CFCDCB;
    margin-left: 10px;
}

#banner_btm ul li a:hover {
    color: #fff;
}

#banner_btm ul li i {
    display: block;
    height: 24px;
    line-height: 24px;
    margin-bottom: 4px;
    background: url(images/i1.png) no-repeat;
    margin-left: 23px;
}

#banner_btm a img {
    width: 316px;
    height: 170px;
    margin: 5px 6px;
    padding-right: 1px;
}

.main {
    width: 100%;
    background-color: #F5F5F5;
}


/*******小米闪购开始*******/
.plain-box {
    width: 1230px;
    margin: 30px auto;
    height: 398px;
    /*background-color: pink;*/
}

.plain-box .box-top {
    height: 59px;
    /*background-color: pink;*/
}


.plain-box .box-top .title {
    display: block;
    height: 59px;
    font: 25px sans-serif ;
    line-height: 59px;
    font-weight: 200;
}

.plain-box .box-down {
    height: 340px;
}

.box-down .row {
    background-color: white;
    border-top: 1px solid red;
    height: 341px;
    width: 234px;
}

.box-down .left{
    background-color: #f1eded;
    text-align: center;
}

.box-down .left .round{
    font-size: 22px;
    color: #ef3a3b;
    padding-top: 50px;
}

.box-down .left div:nth-of-type(2){
    color: rgba(0,0,0,.54);
    font-size: 15px;
    padding-top: 35px;
}

.box-down .left div:nth-of-type(3) {
    width: 168px;
    margin: 28px 0 0 50px;
}

.box-down .left div:nth-of-type(3) span{
    width: 46px;
    height: 46px;
    background: #605751;
    color: #fff;
    font-size: 24px;
    line-height: 46px;
    float: left;
}
.box-down .left img {
    padding-top: 30px;
}
.box-down .right .row {
    text-align: center;
}
.box-down .right .row img {
    padding-top: 30px;
    padding-bottom: 20px;
    width: 170px;
    height: 170px;
}

.box-down .right .row div:nth-of-type(1) {
    margin: 0 20px 3px;
    font-size: 14px;
    text-align: center;
}
.box-down .right .row div:nth-of-type(2) {
    height: 18px;
    text-align: center;
    font-size: 12px;
    padding-bottom: 15px;
    color: #b0b0b0;
}
.box-down .right .row div:nth-of-type(3) {
    text-align: center;
}
.box-down .right .row div:nth-of-type(3) span {
    color: #ff6709;
}

.box-down .right .row:nth-child(n-1) {
    margin-right: 11px;
}



/*************智能硬件product_hardware*********/
.more-li div:first-child {
    height: 100px;
    padding-top: 40px;
}
.more-li div:last-child {
    height: 120px;
    padding-top: 20px;
}


#product_hardware {
    width: 1230px;
    margin: 0 auto;
    border: 1px solid #F5F5F5;
    /*float: left;*/
}

#product_hardware > a {
    box-sizing: border-box;
    line-height: 19px;
    padding-right: 10px;
}

#product_hardware > a b:hover {
    background: #FF6700;
}

#product_hardware > a b {
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    border: 1px solid #B0B0B0;
    border-radius: 50%;
    background: #B0B0B0;
    color: #fff;
    text-align: center;
    margin-left: 8px;
    padding: 3px;
}

#product_hardware a.prHe {
    float: left;
    width: 234px;
    height: 614px;
    margin-top: 10px;
}

/**右边列表**/
#hardware {
    margin-top: 9px;
    width: 996px;
    float: left;
}

#hardware li {
    float: left;
    width: 234px;
    height: 300px;
    margin-left: 13px;
    background: #fff;
    text-align: center;
    margin-bottom: 14px;
}

#hardware li div {
    margin-bottom: 45px;
}

#hardware li h4 {
    height: 20px;
    margin: 10px auto;
}

#hardware li span {
    display: block;
    color: #FFAC13;
    margin: 10px;
}

#hardware li.no_banner h4 {
    margin-top: 57px;
}

/************搭配*************/
#pd_match, #pd_parts, #pd_circum {
    width: 1230px;
    margin: 10px auto 0;
}

#pd_match div.top, #pd_parts div.top, #pd_circum div.top {
    float: left;
    margin: 10px auto;
    width: 1230px;
}

div.top ul {
    padding-right: 10px;
}

div.top ul li {
    float: left;
    padding-left: 20px;
    margin-left: 20px;
}

ul.rt_li {
    float: left;
    width: 1230px;
    height: 614px;
}

/****好多列表该***/
ul.rt_li li {
    float: left;
    width: 233px;
    height: 300px;
    margin-left: 14px;
    background: #fff;
    text-align: center;
    margin-bottom: 14px;
}

#pd_match ul.rt_li li img {
    margin: 20px auto;
}

#pd_match ul.rt_li li span {
    display: block;
    margin: 16px auto;
}

#pd_match ul.rt_li li span s {
    padding-left: 8px;
    color: #B0B0B0;
}

/***右边***/
#pd_match ul.rt_li li > div {
    height: 140px;
    margin-bottom: 10px;
}

#pd_match ul.rt_li li > div span, h3 {
    margin: 0;
    padding-top: 40px;
}

.pd_match {
    width: 1230px;
    margin: 15px auto 0;
}

/*******************\\第六部分******为你推荐*****************************/
#recommended {

    border: 1px solid #F5F5F5;
    margin: 10px auto 0;
}

#recommended div.top {
    float: left;
    margin: 10px auto;
    width: 1230px;
}

#recommended div.top ul li {
    float: left;
    padding-left: 20px;
    margin-left: 20px;
}

#recommended div.top ul li:nth-child(1) a {
    color: #FF6700;
    border-bottom: 2px solid #FF6700;
}

#recommended ul.rt_li {
    float: left;
    width: 1230px;
    height: 300px;
}

#buzz h2 {
    margin: 10px auto;
}

#buzz ul li {
    float: left;
    width: 300px;
    margin-right: 10px;
    margin-bottom: 20px;
}

#buzz ul li:last-child {
    margin-right: 0px;
}

#buzz ul li span {
    display: inline-block;
    color: #FF673A;
    margin-top: 10px;
    padding-left: 10px;
}

#buzz ul li p {
    padding: 20px 0;
}

#buzz ul li > div {
    width: 236px;
    text-align: left;
    margin-left: 30px;
}

#buzz ul li:nth-child(1) div {
    margin-top: 10px;
}

#buzz ul li:nth-child(2) div {
    margin-top: 20px;
}

#buzz ul li:nth-child(4) div {
    margin-top: 20px;
}

/*******第四部分视频********/
#movies {
    /*margin-top: 15px;*/
    width: 1230px;
    margin: 0 auto;
}

#movies > a b:hover {
    background: #FF6700;
}

#movies > a b {
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    border: 1px solid #B0B0B0;
    border-radius: 50%;
    background: #B0B0B0;
    color: #fff;
    text-align: center;
    margin-left: 8px;
    padding: 3px;
}

#movies ul {
    border: 1px solid #F5F5F5;
    float: left;
    margin: 10px auto;
}

#movies ul li {
    float: left;
    margin-right: 8px;
    text-align: center;
}

#movies ul li:last-child {
    margin-right: 0px;
}

#movies ul li p {
    margin: 10px auto;
}

#movies ul li span {
    color: #B0B0B0;
}

/*********小米售后**********/
#Customer {
    width: 1230px;
    margin: 0 auto;
    background: white;
}

#Customer > ul li {
    float: left;
    padding-left: 55px;
    height: 56px;
    line-height: 56px;
    font-size: 19px;
}

#Customer > ul li a {
    font-size: 16px;
    font-weight: 100px;
}

#Customer > ul > span {
    font-size: 16px;
    float: left;
    padding-left: 55px;
    color: #B0B0B0;
}

#Customer > ul {
    height: 65px;
    line-height: 65px;
}


#hps ul.help > li {
    float: left;
    margin: 28px;
    padding-right: 45px;
}

#hps ul.help > li h4 {
    margin-bottom: 30px;
    font-weight: 500;
}

#hps ul li a {
    color: #757575;
    display: block;
    margin: 10px 0 0;
    font-size: 12px;
}

#hps > div {
    width: 251px;
    height: 134px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
    margin: 6px 16px;
}

#hps > div > div {
    margin: 0 0 5px;
    font-size: 22px;
    color: #ff6700;
}

#hps > div > p {
    margin: 0 0 16px;
    font-size: 12px;
}


/******** 小米备案   ********/
#ft {
    background: #FAFAFA;
    width: 100%;
    height: 210px;
    clear: both;
}

#ft .main {
    width: 1150px;
}
#footer {
    width: 1230px;
    border: 1px solid #FAFAFA;
    height: 56px;
    margin: 30px auto;
}

#footer > p {
    width: 57px;
    height: 57px;
    margin-right: 10px;
    background: url(images/logo-footer.png) no-repeat;
}

#footer div.lt {
    font-size: 12px;
}

#ft .info-links {
    position: relative;
    left: 65px;
}

#ft .bottom {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-family: 宋体;
    font-size: 20px;
    color: #aaa;
}


/*右侧工具块*/

.right-bar {
    position: fixed;
    top: 120px;
    right: 0px;
    background-color: #fff;
    border: 1px solid #F5F5F5;
}
.right-bar > a {
    display: block;
    width: 84px;
    height: 92px;
    text-align: center;
    /*line-height: 92px;*/
    border-bottom: 1px solid #F5F5F5;
    color: #757575;
    transition: all 0.7s;
}
.right-bar > a:hover {
    color: #ff4500;
}

.right-bar > a span {
    margin: 0 auto;
    font-size: 30px;
    margin: 20px 0 10px 0;
}

.right-bar > a:last-child {
    /*margin-top: 20px;*/
    display: none;
}





